<div id="<%= dom_id user %>">
  <div class="card", id="dis">
              <div class="card-header">
                个人资料
              </div>
              <div class="card-body">
                <p class="card-text">
                  <p>
    <strong>姓名:</strong>
    <%= user.username %>
  </p>
  <p>
    <strong>学工号:</strong>
    <%= user.num %>
  </p>
<p>
    <strong>身份:</strong>
      <% if user.status=="student"%>
        学生
        <% else %>
        老师
        <% end %>
  </p>
                </p>
              </div>
               <div class="card-footer">
              <%=link_to "注销账户", @user, data: { turbo_method: :delete, turbo_confirm: "确定注销?" }, class:"btn btn-danger"%>
              </div>
  </div>
</div>
